# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.
classes
.gitignore
/lib
*.jar
logs/
!/gradle/wrapper/gradle-wrapper.jar
